*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header-container{
    display:flex;
    flex-direction: column;
    background-color: #ff8900;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header{
    color: #fff;
    text-align: center;
}
.header h1{
    font-size: 60px;
}
.header h2{
    font-size: 22px;
    margin-bottom: 40px;
}
.header a{
    color:#fff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #fff;
}

.header a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.icon img{width: 100%;}
.icon{
    width: 150px;
    
}

/* FOOTER */

.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 200px;
}

.footer-link{
    text-decoration: none;
    color: #ff8900;
    margin-left: 5px;
}

.menu-end{
    color: #fff;
}

/* MOBILE */

@media only screen and (max-device-width: 400px){
    
    .header h1{
        font-size: 32px;
    }
    .header h2{
        font-size: 14px;
    }
   footer{

   }
}
